.containerMP{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.containerMP .listaVideos{
    
}

.containerMP .listaVideos .videos{
    padding: 20px;
    list-style: none;
    
}