.container{
    display: flex;
    justify-content: center;
    margin-top:4%;
    color: #ffffff;
    font-family: sans-serif;
}


.container form{
    background-color: #1A6FAB;
    border-radius: 8px;
    border: #606060 2px solid;
}


.container .inputFormCA{
    margin-top: 10px;
}

.container .inputFormCA input{
    padding: 6%;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-top: 10px;
}


.container .btnSubmitCA{
    margin: 0 auto;
    margin-top:16px;
    width: 100%;
}

.container .btnSubmitCA button{
    border-radius: 10px;
    padding: 4%;
    width: 100%;
    cursor: pointer;
    font-size: large;
    border: 0.5px solid grey;
    background-color: #f3f3f3;
}

.container .btnSubmitCA button:hover{
    background-color: #ffffff;
}
