
    .imgContainer img{
        width: 60%;
}
    .imgContainer {
        display: flex;
        justify-content: center;
}
  /* Menu lateral */
  .menu-lateral {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color:#1A6FAB;
    padding-top: 50px;
  }
  
  .menu-lateral ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-lateral li {
    margin: 20px 0;

  }
  
  .menu-lateral a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }

  .quit{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50%;
  }
  
  .menu-lateral a:hover {
    background-color: #ffffff;
    color: #1A6FAB;
  }
